.auth-form__question-text {
  margin: 0;
  padding: 16px 0;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #8B8B8B; 
}

@media screen and (max-width: 767px) {
  .auth-form__question-text {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 12px;
    line-height: 1.25;
  }
}
