/* CSS стили для films__container_item */

.films__container_item {
  max-width: 360px;
  height: 319px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #222;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 320px) {
  .films__container_item {  
      max-width: 300px;
      height: 271px;
  }
}

/* CSS стили для films__container_title */

.films__container_title {
  margin: 0;
  padding: 18px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 378px) {
  .films__container_title {  
      padding: 14px;
  }
}

/* CSS стили для films__container_text */

.films__container_text {
  margin: 0;
  padding: 0;
  display: flex;
  color: #FFF;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 120% */
}

@media screen and (max-width: 378px) {
  .films__container_text {  
      font-size: 12px;
  }
}

/* CSS стили для films__container_time */

.films__container_time {
  margin: 0;
  padding: 0;
  color: #8B8B8B;
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
}

@media screen and (max-width: 378px) {
  .films__container_time {  
      font-size: 10px;
  }
}

/* CSS стили для films__container_image */

.films__container_image {
  width: 100%;
  height: 100%;
  max-height: 200px;
  object-fit: contain;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .films__container_image {  
      max-height: 190px;
  }
}

@media screen and (max-width: 320px) {
  .films__container_image {  
      max-height: 168px;
  }
}
