/* CSS стили для profile__update-error */

.profile__update-error {
  padding: 20px 0;
  display: block;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
  text-align: center;
  line-height: 1.18;
  color: #EE3465;
}
