/* CSS стили для profile__update_error */

.profile__update_error {

  position: absolute;
  display: block;
  width: 410px;
  top: 185px;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 11px;
  line-height: 11px;
  font-style: normal;
  font-weight: 400;
  color: #EE3465;
}

@media screen and (max-width: 1024px) {
  .profile__update_error {
    top: 350px;
  }
}

@media screen and (max-width: 766px) {
  .profile__update_error {
    top: 185px;
  }
}