/* CSS стили для student */

.student {
  width: 100%;
  margin: 0 auto;
  background: #202020;
}

/* CSS стили для student__container */

.student__container {
  max-width: 1140px;
  margin: 0 auto;
  background: #202020;
}

@media screen and (max-width: 1184px) {
  .student__container {
    max-width: 668px;
  }
}

@media screen and (max-width: 700px) {
  .student__container {
    max-width: 292px;
  }
}

/* CSS стили для student__head-title */

.student__head-title {
  min-width: 1140px;
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 23px;
  border-bottom: solid 1px #DADADA;
  /*margin-top: 23px;*/
  margin-bottom: 23px;
  text-align: left; /* выравниваем текст по горизонтали внутри блока */
  color: #FFF;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

@media screen and (max-width: 1184px) {
  .student__head-title {
    max-width: 668px;
    min-width: auto;
    padding-top: 92px;  
  }
}

@media screen and (max-width: 700px) {
  .student__head-title {
    margin-bottom: 0; 
    font-size: 18px;
    letter-spacing: -0.72px;
    max-width: 284px;
    padding-top: 72px;
    padding-bottom: 27px;
  }
}

/* CSS стили для student__info-container */

.student__info-container {
  max-width: 1140px;
  margin: 43px auto 100px auto;
  display: flex;
  justify-content: space-between;
  background: #202020;
}

@media screen and (max-width: 1184px) {
  .student__info-container {
    max-width: 668px;
    margin: 66px auto 91px auto;
  }
}

@media screen and (max-width: 700px) {
  .student__info-container {
    max-width: 298px;
    margin-top: 60px;
    margin-bottom: 69px;
    flex-direction: column-reverse;
    justify-content: center;
  }
}

/* CSS стили для student__info */

.student__info {
  max-width: 600px;
  margin: 0;
}

@media screen and (max-width: 1184px) {

.student__info {
  max-width: 364px;
}
}

/* CSS стили для student__title */

.student__title {
  margin: 0;
  margin-top: 23px;
  color: #FFF;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
}

@media screen and (max-width: 1184px) {
  .student__title {
    margin-top: 0;
    font-size: 40px;
    line-height: 40px; /* 100% */
    letter-spacing: -1.6px;
  }
}

@media screen and (max-width: 700px) {
  .student__title {
    margin-top: 40px;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }
}

/* CSS стили для student__subtitle */

.student__subtitle {
  margin: 0;
  margin-top: 18px;
  color: #FFF;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
}

@media screen and (max-width: 1184px) {
  .student__subtitle {
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px; /* 150% */
  }
}

@media screen and (max-width: 700px) {
  .student__subtitle {
    margin-top: 20px;
    font-size: 11px;
    line-height: 16px; /* 145.455% */
  }
}

/* CSS стили для student__text */

.student__text {
  margin: 0;
  margin-top: 26px;
  margin-bottom: 11px;
  color: #FFF;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

@media screen and (max-width: 1184px) {
  .student__text {
    max-height: 180px;
    margin-top: 20px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 18px; /* 150% */
  }
}

@media screen and (max-width: 700px) {
  .student__text {
    margin-top: 20px;
    margin-bottom: 40px; 
    font-size: 11px;
    font-style: normal;
    line-height: 16px; /* 145.455% */
  }
}

/* CSS стили для student__link */

.student__link {
  color: #FFF;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

/* CSS стили для student__foto */

.student__foto {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  }

@media screen and (max-width: 1184px) {
  .student__foto {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 700px) {
  .student__foto {
    margin: 0 auto;
    width: 292px;
    height: 352px;
  }
}

/* CSS стили для student__portfolio */

.student__portfolio {
  margin: 0;
  margin-bottom: 50px;
  color: #8B8B8B;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}

@media screen and (max-width: 700px) {
  .student__portfolio {
    margin-bottom: 40px;
    color: #A0A0A0;
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
}
