/* CSS стили для not-found */

.not-found {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #202020;
  }
  
/* CSS стили для not-found__container */

  .not-found__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 181px;
  }
  
/* CSS стили для not-found__title */

  .not-found__title {
    max-width: 400px;
    margin: 0 0 5px 0;
    font-family: 'Inter', 'Arial', 'sans-serif';
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 140px;
    line-height: 170px;
    color: #fff;
  }
 
/* CSS стили для not-found__subtitle */

  .not-found__subtitle {
    max-width: 400px;
    margin: 0;
    font-family: 'Inter', 'Arial', 'sans-serif';
    text-align: center;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #fff;
  }

/* CSS стили для not-found__go-back_button */

  .not-found__go-back_button {
    margin: 0 auto;
    padding-top: 184px;
    font-family: 'Inter', 'Arial', 'sans-serif';
    line-height: 17px;
    color: #4285F4;
    background: unset;
    border: unset;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s ease;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
  }
  
  .not-found__go-back_button:hover {
    opacity: .8;
  }
  
  @media screen and (max-width: 1023px) {
    .not-found {
      min-height: calc(100vh - 222px);
      padding-bottom: 222px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .not-found {
      min-height: calc(100vh - 30px);
      padding-bottom: 30px;
    }
  
    .not-found__title {
      font-size: 80px;
      line-height: 1.21;
    }
  
    .not-found__subtitle {
      font-size: 12px;
      line-height: 1.25;
    }
  
    .not-found__go-back_button {
      font-size: 12px;
      line-height: 1.25;
    }
  }
