/* CSS стили для student__portfolio-links */

.student__portfolio-links {
    margin: 0;
    padding-bottom: 86px;
}

@media screen and (max-width: 1184px) {
    .student__portfolio-links {
        padding-bottom: 52px;
    }
}

@media screen and (max-width: 700px) {
    .student__portfolio-links {
        padding-bottom: 50px;
    }
}

/* CSS стили для student__portfolio-link */

.student__portfolio-link {
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

/* CSS стили для student__portfolio-link_border */

.student__portfolio-link_border {
    border-bottom: solid 1px #424242; 
}

@media screen and (max-width: 700px) {
    .student__portfolio-link_border {
        border-bottom: solid 1px #E6E6E6;
    }
}

/* CSS стили для student__portfolio-title */

.student__portfolio-title {
    margin: 0;
    margin-bottom: 19px;
    max-width: 880px;
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: -1.2px;
}

@media screen and (max-width: 1184px) {
    .student__portfolio-title {
        font-size: 28px;
        line-height: 50px; /* 178.571% */
        letter-spacing: -1.12px;
    }
}

@media screen and (max-width: 700px) {
    .student__portfolio-title {
        font-size: 18px;
        line-height: 28px; /* 155.556% */
        letter-spacing: -0.72px;
    }
}

/* CSS стили для student__portfolio-arrow */

.student__portfolio-arrow {
    margin: 0;
    margin-right: 5px;
    margin-top: 12px;
    width: 19px;
    height: 30px;
    background-image: url(../../images/Portfolio/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1184px) {
    .student__portfolio-arrow {
        width: 17px;
    }
}

@media screen and (max-width: 700px) {
    .student__portfolio-arrow {
        margin: 0;
        margin-right: 1px;
        width: 17px;
        height: 26px;
        background-size: 65%;
    }
}

