/* CSS стили для menu__button */

.menu__button {
    display: none;
  }
  
  @media screen and (max-width: 800px) {
    .menu__button {
      width: 44px;
      height: 44px;
      display: block;
      padding: 0;
      border: unset;
      background-color: unset;
      background-image: url(../../images/MenuIcon/icon__menu_main.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 376px) {
    .menu__button {
      width: 22px;
      height: 40px;
      background-size: cover;
    }
  }
