/* CSS стили для header__container-link-button */

.header__container-link-button {
    display: none;
  }

.header__container-link-button:hover {
  opacity: 0.8;
  transition: 0.3s linear;
}

  
  @media screen and (max-width: 800px) {
    .header__container-link-button {
      width: 44px;
      height: 44px;
      display: block;
      padding: 0;
      border: unset;
      background-color: unset;
      background-image: url(../../images/MenuIcon/icon__menu_main.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 500px) {
    .header__container-link-button {
      width: 37px;
    }
  }
