/* CSS стили для header__container-link-logo */

.header__container-link-logo {
  padding-top: 18px;
  padding-bottom: 18px;
  max-width: 38px;
  min-height: 38px;
}

.header__container-link-logo:hover {
  opacity: 0.8;
  transition: 0.3s linear;
}
