/* CSS стили для form-title */

.form-title {
    margin: 0;
    padding: 18px 0;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 1.2;
    color: #fff;
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 767px) {
    .form-title {
      padding-top: 30px;
      padding-bottom: 58px;
    }
  }
  