/* CSS стили для header__auth-links */

.header__auth-links {  
  padding-top: 21px;
  padding-bottom: 23px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__auth-nav-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  list-style: none;
}
  
.header__auth-link {
  margin: 0;
  padding: 8px 20px;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease;
  border-radius: 3px;
}
  
.header__auth-link:hover {
  opacity: 0.7;
}
  
.header__auth-link-color-white {
  color: #fff;
}

.header__auth-link-bgcolor-green {
  background: #2BE080;
}
  
@media screen and (max-width: 767px) {
  .header__auth-nav-list {
    gap: 2px;
  }

  .header__auth-link {
    padding: 5px 12px;
    font-size: 10px;
    line-height: 1.6;
  }
}
