/* CSS стили для header__auth_links */

.header__auth_links {  
  padding-top: 21px;
  padding-bottom: 23px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__auth_nav_list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  list-style: none;
}
  
.header__auth_link {
  margin: 0;
  padding: 8px 20px;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease;
  border-radius: 3px;
}
  
.header__auth_link:hover {
  opacity: 0.7;
}
  
.header__auth_link_color_white {
  color: #fff;
}

.header__auth_link_bgcolor_green {
  background: #2BE080;
}
  
@media screen and (max-width: 767px) {
  .header__auth_nav_list {
    gap: 2px;
  }

  .header__auth_link {
    padding: 5px 12px;
    font-size: 10px;
    line-height: 1.6;
  }
}
