/* CSS стили для modal */

.modal {
  display: none;
}

@media screen and (max-width: 1023px) {
  .modal {
    display: block;
    box-sizing: border-box;
  }

  .modal::before {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: 0.3;
    transition: opacity 3s ease;
  }

  /* CSS стили для modal__container */

  .modal__container {
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
  }

   /* CSS стили для modal__content */

  .modal__content {
    height: 100%;
    padding: 22px 22px 92px 22px;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-sizing: border-box;
  }

  @media screen and (max-width: 767px) {
    .modal__container {
      width: 100vw;
      height: 100vh;
      top: 0%;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .modal__content {
      padding: 13px 13px 48px 13px;
    }
  }

   /* CSS стили для modal__header */

  .modal__header {
    display: flex;
    justify-content: flex-end;
    flex: 1 130px;
  }

   /* CSS стили для modal__main */

  .modal__main {
    flex: 2 750px;
  }

  /* CSS стили для modal__footer */

  .modal__footer {
    align-self: center;
    flex: 1 110px;
  }

  /* CSS стили для modal__close-button */

  .modal__close-button {
    width: 22px;
    height: 22px;
    background-color: unset;
    background-image: url(../../images/Modal/close-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: unset;
    cursor: pointer;
  }
}

