/* CSS стили для intro */

.intro {
  width: 100%;
  margin: 0 auto;
  background: #202020;
}

/* CSS стили для intro__container */

.intro__container {
  max-width: 1140px;
  margin: 0 auto;
  background: #202020;
}

/* CSS стили для intro__head-title */

.intro__head-title {
  min-width: 1140px;
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 23px;
  border-bottom: solid 1px #DADADA;
  /*margin-top: 23px;*/
  text-align: left; /* выравниваем текст по горизонтали внутри блока */
  color: #FFF;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

@media screen and (max-width: 1184px) {
  .intro__head-title {
    max-width: 668px;
    min-width: auto;
    padding-top: 92px;  
  }
}


@media screen and (max-width: 700px) {
  .intro__head-title {
    margin-bottom: 0; 
    font-size: 18px;
    letter-spacing: -0.72px;
    max-width: 284px;
    padding-top: 72px;
    padding-bottom: 27px;
  }
}

/* CSS стили для intro__about-container */

.intro__about-container {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1184px) {
  .intro__about-container {
    max-width: 668px;
    margin: 70px auto 0 auto;
  }
}

@media screen and (max-width: 700px) {
  .intro__about-container {
    flex-direction: column;
    max-width: 284px;
    margin-top: 3px;
  }
}

/* CSS стили для intro__about-title */

.intro__about-title {
  margin: 0;
  color: #FFF;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

@media screen and (max-width: 700px) {
  .intro__about-title {
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}

/* CSS стили для intro__about-subtitle */

.intro__about-subtitle {
  margin: 0;
  margin-top: 26px;
  color: #FFF;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

@media screen and (max-width: 1184px) {
  .intro__about-subtitle {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px; /* 150% */
  }
}

@media screen and (max-width: 700px) {
  .intro__about-subtitle {
    margin-top: 17px;
    font-size: 11px;
    line-height: 16px; /* 145.455% */
  }
}

/* CSS стили для intro__about */

.intro__about {
  max-width: 550px;
}

@media screen and (max-width: 1184px) {
.intro__about {
  max-width: 319px;
}
}

@media screen and (max-width: 700px) {
.intro__about {
  margin-top: 58px;
  max-width: 284px;
}
}

/* CSS стили для intro__stages-container */

.intro__stages-container {
  margin: 110px auto 0 auto;
  padding-bottom: 97px;
}

@media screen and (max-width: 1184px) {
  .intro__stages-container {
      margin-top: 93px;
      padding-bottom: 81px;
  }
}

@media screen and (max-width: 700px) {
  .intro__stages-container {
      margin-top: 58px;
      padding-bottom: 59px;
  }
}

/* CSS стили для intro__stages */

.intro__stages {
  margin: 0;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .intro__stages {
    margin: 0 auto;
    max-width: 284px;
  }
}

/* CSS стили для intro__stage-text */

.intro__stage-text {
  text-align: center;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 700px) {
  .intro__stage-text {
      font-size: 11px;
  }
}


/* CSS стили для intro__stage-left */

.intro__stage-left {
  min-width: 228px;
}

@media screen and (max-width: 1184px) {
  .intro__stage-left {
    min-width: 140px;
  }
}

@media screen and (max-width: 700px) {
  .intro__stage-left {
    min-width: 100px;
  }
}

/* CSS стили для intro__stage-right */

.intro__stage-right {
  min-width: 912px;
}

@media screen and (max-width: 1184px) {
  .intro__stage-right {
      min-width: 528px;
  }
}

@media screen and (max-width: 700px) {
  .intro__stage-right {
      min-width: 184px;
  }
}

/* CSS стили для intro__stage-text-white */

.intro__stage-text-white {
  margin: 9px auto;
  color: #FFF;
}

@media screen and (max-width: 700px) {
  .intro__stage-text-white {
      margin-top: 11px;
      margin-bottom: 11px;
  }
}

/* CSS стили для intro__stage-right-gray */

.intro__stage-right-gray {
  background: #303030;
}

/* CSS стили для intro__stage-left=green */

.intro__stage-left-green {

  background: #3DDC84;

}

/* CSS стили для intro__stage-text-black */

.intro__stage-text-black {
  margin: 9px auto;
  color: #000;
}

@media screen and (max-width: 700px) {
  .intro__stage-text-black {
      margin-top: 11px;
      margin-bottom: 11px;
  }
}

/* CSS стили для intro__stage-text-gray */

.intro__stage-text-gray {
  margin: 14px auto;
  color: #8B8B8B;
}

@media screen and (max-width: 700px) {
  .intro__stage-text-gray {
      margin: 10px auto;
  }
}
