.mobile-navigation {
  display: none;
}

@media screen and (max-width: 1023px) {
  .mobile-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-navigation__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-navigation__nav-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-navigation__nav-list-item {
    padding-bottom: 28px;
  }

  .mobile-navigation__nav-list-item:last-of-type {
    padding-bottom: 0;
  }

  .mobile-navigation__link {
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
    margin: 6px 0;
    padding: 8px 0;
    font-weight: 500;
    font-size: 18px;
    box-sizing: border-box;
  }

  .mobile-navigation__link:first-of-type {
    margin-top: 0;
  }

  .mobile-navigation__link:last-of-type {
    margin-bottom: 0;
  }

  .mobile-navigation__link_active {
    padding-bottom: 6px;
    border-bottom: 2px solid #fff;
  }
}

@media screen and (max-width: 767px) {
  .mobile-navigation__link {
    padding: 7px 0;
    margin: 3px 0;
  }

  .mobile-navigation__link_active {
    padding-bottom: 5px;
  }
}
